<div class="card-pf card-pf-accented">
  <div class="card-pf-body">
    <div class="form-group">   
      <form [formGroup]="form" (ngSubmit)="buscar()">
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <div class="form-group" [w4FormFieldValidationState]="form.get('organizacion')">
              <label class="control-label" [w4FormRequiredLabel]="form.get('organizacion')">Buscar por razon social o ruc
                <i class="fa fa-question-circle text-muted" tooltip="relacion de organizaciones de la sunat" placement="top"></i>
              </label>
              <div class="input-group">
                <input formControlName="organizacion" type="text" class="form-control">
                <div class="input-group-addon" (click)="buscar()" style="cursor: pointer;">
                  <i class="fa fa-search"></i>&nbsp;Buscar
                </div>
              </div>
              <w4-form-field-validation-messages [w4FormControl]="form.get('organizacion')">
              </w4-form-field-validation-messages>
            </div>
          </div>
        </div>
      </form>
    </div>
    <pfng-table [columns]="columns" [config]="tableConfig" [rows]="allRows">
    </pfng-table>
  </div>
</div>