<div class="row">
  <div class="col-sm-9">
    <dl class="dl-horizontal">
      <dt>Estado Contribuyente</dt>
      <dd>{{company.estadoContribuyente}}</dd>

      <dt>Ubigeo</dt>
      <dd>{{company.ubigeo}}</dd>

      <dt>Condición Domicilio</dt>
      <dd>{{company.condicionDomicilio}}</dd>

      <dt>Departamento</dt>
      <dd>{{company.departamento}}</dd>

      <dt>Dirección (Tipo zona)</dt>
      <dd>{{company.tipoVia}} {{company.nombreVia}} {{company.numero}} ({{company.tipoZona}})</dd>

      <dt>Manzana/Lote</dt>
      <dd>{{company.manzana}}/{{company.lote}}</dd>

      <dt>Interior/Kilómetro</dt>
      <dd>{{company.interior}} {{company.kilometro}} </dd>
    </dl>
    <!-- <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
      irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p> -->
  </div>
</div>
